#mybtn
{
    
    position: relative;
    height: 50px;
    width: 90px;
    border-radius: 20px;
    background-color: cadetblue;
    color: aliceblue;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    top: 90px;
    padding: none;
    margin: none;

}
#mybtn:active
{
    background-color: black;
    border:none;
}
body
{
    background-color: aliceblue;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.box-1
{
    border: 1px solid black;
    height: 400px;
    width: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: blanchedalmond;
    border-radius: 10px;

    

}
.🔨
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    align-items: center;
    top: 40px;
    
}
.😁
{
    
}
.me
{
    width: 290px;
    height: 40px;
    padding: none;
    margin: none;
    border: none;
    

}